# ============================
# Raw data files
# ============================
data/**/raw/*

# ============================
# Trained models / artifacts
# ============================
artifacts/
*.pth

# ============================
# Cache and compiled files
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Notebooks checkpoints
# ============================
.ipynb_checkpoints/

# ============================
# System files
# ============================
.DS_Store
Thumbs.db